@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}
body {
    max-width: 100vw;
    min-height: 100vh;
}
h1, h2 {
    font-family: 'Poppins', sans-serif;
}
h1 {
    margin-top: 5rem;

    font-size: 1.5rem;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

:is(header, main) img {
    width: 100%;
    height: 100%;
}

/* buttons */
button {
    border: none;
    border-radius: 2rem;
    font-size: 0.7rem;
    font-weight: bold;
    box-shadow: 0 0 20px -11px;
}
.button-free {
    padding: 0.4rem 1.5rem;

    background-color: white;
}
.button-pink {
    margin: 2rem auto;
    padding: 1rem 4rem;

    background-color: hsl(322, 100%, 66%);
    color: white;
}
button:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* header */
header {
    padding: 2rem 1rem;

    background: url('../images/bg-hero-mobile.svg') no-repeat, hsl(193, 100%, 96%);
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 7rem;
}
.start {
    padding: 0 2rem;
}

/* main */
main {
    width: 20rem;
}
section {
    padding: 2rem;

    border-radius: 1rem;
    background-color: white;    
    box-shadow: 0 0 20px -10px hsl(208, 11%, 55%);
}
section p {
    margin-top: 1rem;

    color: hsl(208, 11%, 55%);
}
.float-container {
    height: 10rem;
    width: 100vw;
    position: relative;
}
.float {
    width: 90%;
    height: fit-content;
    padding-top: 2rem;
    gap: 0;
    position: absolute;
    bottom: -7rem;

    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 20px -15px;
    font-size: 0.7rem;
}

/* footer */
footer {
    width: 100vw;
    padding: 10rem 0;

    background-color: hsl(192, 100%, 9%);
    color: hsl(193, 100%, 96%);
}
footer p {
    font-size: 1.1rem;
    text-align: left;
}
footer p:nth-last-child(2) {
    font-size: 0.9rem;
}
a {
    color: white;
}
a:hover {
    text-decoration: underline;
}
.footer-main {
    align-items: flex-start;
}
.information {
    align-items: flex-start;
}
.info {
    margin: 0;
    width: 18rem;
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: flex-start;
}
:is(.info, .social-media) img {
    width: 2rem;
    object-fit: scale-down;
}
.anchors {
    margin: 3rem 0;
    align-items: flex-start;
}
.social-media {
    margin: auto;
}
.attribution {
    white-space: pre;
}
.attribution a:hover {
    color: hsl(322, 100%, 66%);
}

@media (min-width: 1000px) {
    h1, h2, p {
        text-align: left;
    }
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
    }
    .flex-row {
        flex-direction: row;
    }
    .flex-row-reverse {
        flex-direction: row-reverse;
    }
    /* header */
    header {
        padding: 3rem;
    }
    .logo {
        margin-bottom: 3rem;
    }
    .logo img {
        width: 10rem;
    }
    .button-free {
        padding: 0.6rem 3rem;

        font-size: medium;
    }
    .start {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .start img {
        width: 50%;
    }
    /* main */
    main {
        width: 85%;
        margin: 5rem auto;
    }
    main img {
        width: 40%;
        margin: 2rem auto;
    }
    section {
        padding-left: 7rem;
    }
    section div:first-of-type {
        margin-right: 5rem;
    }
    main .flex-row div:first-of-type{
        margin-right: 0;
        margin-left: 5rem;
    }
    .float {
        width: 50%;
        padding: 4rem 0 2rem;
        bottom: -14rem;
    }
    .float button {
        padding: 1.5rem 6rem;

        font-size: 1.2rem;
    }
    /* footer */
    footer {
        padding: 10rem 2rem 0.5rem 8rem;
    }
    footer img {
        align-self: start;
        filter: drop-shadow(0 0 1px white);
    }
    .footer-main {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: start;
    }
    .info {
        width: 100%;
    }
    .anchors {
        margin: 0;
        display: block;
        column-count: 2;
        justify-self: center;
    }
    .anchors p {
        margin: 0 2rem 1rem;
        margin-bottom: 1rem;
    }
    .social-media {
        margin: 0;
    }
    .social-media img {
        width: 3rem;
    }
    .social-media img:hover {
        filter: drop-shadow(0 0 1px hsl(322, 100%, 66%));
        cursor: pointer;
    }
    footer p:nth-last-child(2) {
        align-self: self-end;
    }
    .attribution {
        white-space: normal;
    }
}